### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon


# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

#FRONTEND
# dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
# testing
frontend/coverage/
# next.js
frontend/.next/
frontend/out/
# production
frontend/build/
# misc
frontend/.DS_Store
frontend/*.pem
# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
# env files (can opt-in for committing if needed)
frontend/.env*
# vercel
frontend/.vercel
# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# BACKEND
backend/build/
backend/CMakeLists.txt.user
backend/CMakeCache.txt
backend/CMakeFiles/
backend/CMakeScripts/
backend/Testing/
backend/Makefile
backend/cmake_install.cmake
backend/install_manifest.txt
backend/compile_commands.json
backend/CTestTestfile.cmake
backend/_deps/
backend/CMakeUserPresets.json