.calendar-wrapper {
  width: 40%;
  min-width: 300px;
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.days-row {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}