.stats {
    display: flex;
    gap: 10px;
    justify-content: center;
}


.bids-header {
    display: flex; 
    align-items: center
}

.bidsTable
{
    border-collapse: collapse;
    margin-left: -75px;
}

.asksTable
{
    border-collapse: collapse; 
}

.orderbookLevels
{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    gap: 75px; 
}

